<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Number of pages:</strong>
    <%= book.number_of_pages %>
  </p>

  <%
=begin%>
  display image
<%
=end%>
  <p>
    <%= image_tag book.image, size: "100x100" %>
  </p>

</div>
